# Исполняемые файлы Go (бинарники)
*.exe
*.exe~
*.dll
*.so
*.dylib
# Сюда Air складывает скомпилированное приложение
/tmp/

# Кэш тестов и сборки Go
.golangci-lint/
vscodetest/

# Файлы конфигурации VS Code (если не хочешь шерить свои личные настройки)
# .vscode/
!.vscode/extensions.json
.vscode/settings.json
!.vscode/tasks.json

# Локальные переменные окружения (секреты, пароли от БД)
.env
.env.*
!.env.example

# Логи Docker и системные файлы
*.log
.DS_Store
